body {
  font-family: Arial, sans-serif;
  bacground-color: black;
}

.navbar {
  margin-bottom: 30px;
}

.section-title {
  margin-top: 50px;
}

.card {
  margin-bottom: 20px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #f8f9fa;
}
